body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-52px;
  width:1416px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:57px;
  width:22px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u200_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:124px;
  width:597px;
  height:114px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u201 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:802px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:442px;
  width:1416px;
  height:802px;
  display:flex;
}
#u202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:722px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:722px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:752px;
  width:0px;
  height:0px;
}
#u205_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:72px;
  height:10px;
}
#u205_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:782px;
  width:0px;
  height:0px;
}
#u206_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:246px;
}
#u206_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:236px;
  width:122px;
  height:10px;
}
#u206_seg2 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:231px;
  width:20px;
  height:20px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:169px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:752px;
  width:0px;
  height:0px;
}
#u207_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:58px;
  height:10px;
}
#u207_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-10px;
  width:20px;
  height:20px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:722px;
  width:0px;
  height:0px;
}
#u208_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-107px;
  width:10px;
  height:107px;
}
#u208_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-107px;
  width:122px;
  height:10px;
}
#u208_seg2 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-112px;
  width:20px;
  height:20px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-112px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:722px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:752px;
  width:0px;
  height:0px;
}
#u210_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:81px;
  height:10px;
}
#u210_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-10px;
  width:20px;
  height:20px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:993px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:590px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:458px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:590px;
  width:0px;
  height:0px;
}
#u214_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-72px;
  width:10px;
  height:77px;
}
#u214_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-77px;
  width:20px;
  height:20px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:590px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:620px;
  width:0px;
  height:0px;
}
#u216_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:81px;
  height:10px;
}
#u216_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-10px;
  width:20px;
  height:20px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:590px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:620px;
  width:0px;
  height:0px;
}
#u218_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:98px;
  height:10px;
}
#u218_seg1 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-10px;
  width:20px;
  height:20px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:458px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:590px;
  width:0px;
  height:0px;
}
#u220_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-72px;
  width:10px;
  height:77px;
}
#u220_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-77px;
  width:20px;
  height:20px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:590px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:620px;
  width:0px;
  height:0px;
}
#u222_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:91px;
  height:10px;
}
#u222_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-10px;
  width:20px;
  height:20px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:458px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:590px;
  width:0px;
  height:0px;
}
#u224_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-72px;
  width:10px;
  height:77px;
}
#u224_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-77px;
  width:20px;
  height:20px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:590px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:620px;
  width:0px;
  height:0px;
}
#u226_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:89px;
  height:10px;
}
#u226_seg1 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-10px;
  width:20px;
  height:20px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:843px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:782px;
  width:0px;
  height:0px;
}
#u228_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:66px;
}
#u228_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:722px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:843px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:782px;
  width:0px;
  height:0px;
}
#u231_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:66px;
}
#u231_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:722px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:752px;
  width:0px;
  height:0px;
}
#u233_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:98px;
  height:10px;
}
#u233_seg1 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-10px;
  width:20px;
  height:20px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:1128px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:1053px;
  width:0px;
  height:0px;
}
#u235_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:80px;
}
#u235_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:60px;
  width:20px;
  height:20px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
