body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-52px;
  width:772px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:57px;
  width:109px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u51 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:134px;
  width:100px;
  height:60px;
  display:flex;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:578px;
  width:100px;
  height:60px;
  display:flex;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:578px;
  width:100px;
  height:60px;
  display:flex;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:393px;
  width:100px;
  height:60px;
  display:flex;
}
#u55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:578px;
  width:100px;
  height:60px;
  display:flex;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:235px;
  width:0px;
  height:0px;
}
#u57_seg0 {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:149px;
  width:346px;
  height:6px;
  -webkit-transform:rotate(-117.462561773637deg);
  -moz-transform:rotate(-117.462561773637deg);
  -ms-transform:rotate(-117.462561773637deg);
  transform:rotate(-117.462561773637deg);
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:29px;
  top:122px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:357px;
  width:0px;
  height:0px;
}
#u58_seg0 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-65px;
  width:126px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-93px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:608px;
  width:0px;
  height:0px;
}
#u59_seg0 {
  border-width:0px;
  position:absolute;
  left:-232px;
  top:-4px;
  width:234px;
  height:6px;
  -webkit-transform:rotate(0.248032128156503deg);
  -moz-transform:rotate(0.248032128156503deg);
  -ms-transform:rotate(0.248032128156503deg);
  transform:rotate(0.248032128156503deg);
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:-165px;
  top:-50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:466px;
  width:0px;
  height:0px;
}
#u60_seg0 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:46px;
  width:138px;
  height:6px;
  -webkit-transform:rotate(-134.109463746639deg);
  -moz-transform:rotate(-134.109463746639deg);
  -ms-transform:rotate(-134.109463746639deg);
  transform:rotate(-134.109463746639deg);
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:39px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:603px;
  width:0px;
  height:0px;
}
#u61_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:66px;
  height:6px;
  -webkit-transform:rotate(-179.090619550801deg);
  -moz-transform:rotate(-179.090619550801deg);
  -ms-transform:rotate(-179.090619550801deg);
  transform:rotate(-179.090619550801deg);
}
#u61_seg1 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:21px;
  height:20px;
  -webkit-transform:rotate(0.909380449201287deg);
  -moz-transform:rotate(0.909380449201287deg);
  -ms-transform:rotate(0.909380449201287deg);
  transform:rotate(0.909380449201287deg);
}
#u61_seg2 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-9px;
  width:21px;
  height:20px;
  -webkit-transform:rotate(-179.090619550799deg);
  -moz-transform:rotate(-179.090619550799deg);
  -ms-transform:rotate(-179.090619550799deg);
  transform:rotate(-179.090619550799deg);
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:453px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:51px;
  width:136px;
  height:6px;
  -webkit-transform:rotate(-53.8152210232232deg);
  -moz-transform:rotate(-53.8152210232232deg);
  -ms-transform:rotate(-53.8152210232232deg);
  transform:rotate(-53.8152210232232deg);
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:494px;
  width:0px;
  height:0px;
}
#u63_seg0 {
  border-width:0px;
  position:absolute;
  left:-267px;
  top:-162px;
  width:362px;
  height:6px;
  -webkit-transform:rotate(61.5919086916799deg);
  -moz-transform:rotate(61.5919086916799deg);
  -ms-transform:rotate(61.5919086916799deg);
  transform:rotate(61.5919086916799deg);
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-169px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:419px;
  width:0px;
  height:0px;
}
#u64_seg0 {
  border-width:0px;
  position:absolute;
  left:-316px;
  top:61px;
  width:330px;
  height:6px;
  -webkit-transform:rotate(-22.9012498162372deg);
  -moz-transform:rotate(-22.9012498162372deg);
  -ms-transform:rotate(-22.9012498162372deg);
  transform:rotate(-22.9012498162372deg);
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:-201px;
  top:34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:670px;
  width:0px;
  height:0px;
}
#u65_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:10px;
  height:5px;
}
#u65_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:10px;
  height:58px;
}
#u65_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:43px;
  width:629px;
  height:10px;
}
#u65_seg3 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:-5px;
  width:10px;
  height:58px;
}
#u65_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-12px;
  width:20px;
  height:20px;
}
#u65_seg5 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:-13px;
  width:20px;
  height:20px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:262px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:157px;
  width:0px;
  height:0px;
}
#u66_seg0 {
  border-width:0px;
  position:absolute;
  left:-415px;
  top:189px;
  width:506px;
  height:8px;
  -webkit-transform:rotate(-50.0636168530301deg);
  -moz-transform:rotate(-50.0636168530301deg);
  -ms-transform:rotate(-50.0636168530301deg);
  transform:rotate(-50.0636168530301deg);
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:-212px;
  top:184px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
